
<!--<p>
    Questions?<br>
    <a href="http://twitter.com//" target="_blank"><i class='fab fa-twitter fa-lg'></i> @mikegcoleman</a>
</p>
-->
<p>
    <br>
    </p>
    
    <p>
        Get more information on the <a href="https://aws.amazon.com/lightsail">Lightsail home page</a>
    </p>
   <br/>
    <p>
        <a href="https://aws.amazon.com/privacy/" target="_blank">Privacy </a> | <a href="https://aws.amazon.com/terms/" target="_blank">Site terms </a>

    </p>
       
    <left>
        <h5 class="copyright">© 2020, Amazon Web Services, Inc. or its affiliates. All rights reserved.<h5>
    </left>