
<!--<p>
    Questions?<br>
    <a href="http://twitter.com//" target="_blank"><i class='fab fa-twitter fa-lg'></i> @mikegcoleman</a>
</p>
-->
<p>
    <br>
    </p>
    
    <p>
        Get more information on the <a href="https://aws.amazon.com/lightsail">Lightsail home page</a>
    </p>
   <br/>
   <left>

    <a href="https://aws.amazon.com/privacy/?nc1=f_pr">Privacy</a> | <a href="https://aws.amazon.com/terms/?nc1=f_pr">Site Terms</a> | © 2020, Amazon Web Services, Inc. or its affiliates. All rights reserved. 

</left>